:root{
    --branco: #ffff;
    --gelo: #f1f1f1;
    --preto: #2a2a2a;
}

.nav-top.cart{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--branco);
    padding: 10px 0px;

}


.nav-top.cart a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--gelo);
    border-radius: 50%;
    color: var(--preto);
}

.nav-top.cart a:first-child{
    margin-left: 20px;
}

.nav-top.cart a:last-child{
    margin-right: 20px;
}

#listaCarrinho{
    display: flex;
    flex-flow: column wrap;
    margin-top: 20px;
    padding-bottom: 280px;
}

.item-carrinho{
    display: flex;
    align-items: center;
    width: 90%;
    height: 120px;
    margin: auto;
    padding: 10px 0px;
    border-bottom: 1px solid var(--gelo);
}

.area-img{
    flex: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gelo);
    border-radius: 20px;
}

.area-img img{
    max-width: 120px;
    height: 120px;
    object-fit: contain;
}

.area-details{
    flex: 60%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    height: 100%;
}

.sup{
    width: 100%;
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: space-between;
}

.name-prod{
    font-weight: 600;
    font-size: 20px;
    margin-left: 15px;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete-item{
    font-size: 18px;
    color: #2a2a2a;
    margin-right: 10px;
}

.middle span{
    color: gray;
    margin-left: 15px;
}

.preco-quantidade{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.preco-quantidade span{
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;

}

.count {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center; /* centraliza os elementos */
    gap: 10px; /* define um espaço consistente entre os elementos */
}

.minus,
.plus {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo dentro do botão */
    width: 35px;
    height: 30px;
    color: white;
    background: var(--preto);
    border: 1px solid var(--gelo);
    border-radius: 5px;
    font-size: 20px;
    text-align: center; /* Centraliza o texto dentro do botão */
    padding: 0; /* Remove qualquer padding extra */
    margin: 0; /* Remove qualquer margem extra */
}

.qtd-item {
    width: 35px;
    text-align: center;
    background: var(--branco);
}


.flex-100{
    flex: 1;
    text-align: center;
}

.w-80{
    width: 80%;

}

#totais{
    flex-direction: column;
}

.w-90{
    width: 90%;

}

.popup {
    display: none; /* Inicialmente escondido */
}

/* Estilo para o título */
.modal-title {
    font-size: 24px; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Coloca em negrito */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 10px; /* Espaço abaixo do título */
}

/* Estilo para o parágrafo */
.modal-message {
    font-size: 18px; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Coloca em negrito */
    text-align: center; /* Centraliza o texto */
    margin: 0; /* Remove margens padrão */
    padding: 10px; /* Espaço interno para melhor visualização */
}
